@import '~@angular/material/theming';
@include mat-core();
$primary: #1B2430;

$my-app-primary: mat-palette($mat-pink);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #A6B1E1;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #1B2430;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #A6B1E1;
    color: #00ADB5;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 5px solid #A6B1E1;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}

